@charset "UTF-8";

body{background-color: rgb(165, 112, 215);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
    h1{
        color: burlywood; background-color: rgb(86, 50, 7);
    }
    h2{
        color: rgb(56, 54, 166); background-color: rgb(184, 213, 65);
    }
    h3{
        color: brown; background-color: rgb(215, 219, 161);
    }
    p{
        text-align: justify;
    }
    